* {
  margin-top: 0;
}

html {
  margin-top: 0;
}

img {
  margin: 0;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: rgb(14, 4, 29);
  margin: 0;
}
table,
td {
  border: 1px solid rgb(219, 218, 233);
  border-radius: 10px;
}
header {
  margin-top: 0;
  min-height: 415px;
  border: 4px solid white;
  width: 66%;
  left: 0;
  transform: translate(25%, 10%);
  background-color: grey;
}

footer {
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  bottom: 0;
  color: aliceblue;
  bottom: 0px;
  min-height: 40px;
  padding: 0px;
  display: flex;
  text-align: center;
  margin-top: auto;
}
/* 
@media (min-height: 900px) {
  .footer {
    bottom: 1px;
  }
} */

.footer-info {
  text-align: center;
  font-size: 13px;
  margin: auto;
}

.top-left {
  margin: 0%;
}

.top-right {
  position: absolute;
  right: 6rem;
  margin-top: 0;
}

.bottom {
  display: flex;
  border: 4px solid white;
  min-height: 415px;
  width: 66%;
  left: 0;
  transform: translate(25%, 11%);
  background-color: grey;
}
#bg-hero {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}

#bg-monster {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
}

.bottom-left {
  float: left;
  width: 33%;
  min-height: 400px;
}

.bottom-middle {
  float: left;
  width: 33%;
  min-height: 400px;
}

.bottom-right {
  float: left;
  width: 33%;
  min-height: 400px;
}

.monster {
  width: 200px;
  margin-top: 0;
}

#hero {
  height: 100px;
  margin-top: 25px;
  margin-left: 37%;
  /* border: 2px solid #dd5a65;
  padding: 10px; */
}

.hero-stats-left {
}

.hero-stats {
  width: 400px;
  margin: auto;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2.8px 2.6px 0;
  transition: 0.5s;
  overflow: hidden;
  color: white;
}

.hero-stats:hover {
  transform: translate(1%, -1%);
  transform: rotateY(-15deg) skewX(2deg);
}

.hero-stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.623);
  transform: skewX(45deg) translateX(650px);
  opacity: 1%;
  transition: 0.5s;
}

.hero-stats:hover::before {
  transform: skewX(45deg) translateX(-200px);
  opacity: 100%;
}

/* #glass {
  position: absolute;
  width: 33%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
} */

td {
  padding: 10px;
  font-size: 0.5rem;
}

td:active {
}

#td-sword {
}

.stat-name {
}

.icons {
  position: absolute;
  border: 1px none rgb(0, 0, 0);
  background: linear-gradient(
    135deg,
    rgba(218, 218, 218, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: inset 1px 1px 25px 2px rgb(90, 124, 156), 1px 2px 8px 2px black;
  padding: 2px;
  bottom: 16px;
  opacity: 85%;
  font-size: 0.5rem;
  right: 650px;
  color: white;
  overflow: hidden;
  transition: all 0.4s;
}

.icons:hover {
  transform: translate(1%, -1%);
}

.icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.397);
  transform: skewX(45deg) translateX(850px);
  opacity: 1%;
  transition: 0.5s;
}

.icons:hover::before {
  transform: skewX(45deg) translateX(-200px);
  opacity: 100%;
}

#sword:hover {
  filter: drop-shadow(1px 2px 7px rgb(59, 235, 59));
}

#HP-Potion:hover {
  filter: drop-shadow(1px 2px 7px rgb(235, 59, 112));
}

#SP-Potion:hover {
  filter: drop-shadow(1px 1px 6px rgb(32, 99, 241));
}

#coins:hover {
  filter: drop-shadow(1px 2px 7px rgb(235, 223, 59));
}

.qtd {
}

#sword,
#SP-Potion,
#HP-Potion,
#coins {
  margin: 6px;
  width: 25px;
  cursor: pointer;
}
#coins {
  cursor: default;
}

.tr-icons {
  transition: all 0.4s ease-in-out;
}

.tr-icons:hover {
  /* box-shadow: 2px 2px 40px 5px #79aeeb,
   inset 2px 2px 30px 0.5px #9ed8ff; */
  /**/
  /* box-shadow: 2px 2px 40px 5px #ffffff,
    inset 2px 2px 30px 0.5px hsl(0, 0%, 100%); */
  /* filter: drop-shadow(2px 2px 5px rgb(219, 227, 255)); */
  transform: translate(1%, -1%);
}

.arrow {
  width: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.arrow:hover {
  filter: drop-shadow(1px 1px 0.5px#f0f0f0);
  transform: translate(5%, -5%);
}

/* HP BAR for MOB AND PLAYER */

.progress__mob {
  position: relative;
  width: 210px;
  height: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 20px;
}

.progress__mob:hover {
}

.progress__player {
  position: relative;
  width: 110px;
  height: 22px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 35%;
}

.progress__fill,
.progress__fill__player {
  width: 75%;
  height: 100%;
  border-radius: 15px;
  background-color: #dd5a65;
  transition: all 0.2s;
  box-shadow: inset 1px 1px 7.5px 1.5px rgb(185, 35, 35),
    inset -1px -1px 0.5px 1.5px black;
}

.progress__text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  color: rgb(224, 214, 165);
  text-shadow: 2px 2px 1px black;
}

.progress__text__player {
  position: absolute;
  top: 50%;
  left: 15%;
  margin-right: 5%;
  transform: translateY(-50%);
  color: rgb(224, 214, 165);
  text-shadow: 2px 2px 1px black;
  font-size: 12px;
}

/* EXP BAR FOR PLAYER */
.exp {
  margin-top: 4px;
  position: relative;
  background-color: white;
  width: 100px;
  height: 10px;
  text-align: center;
  text-justify: auto;
  margin-bottom: 10px;
  margin-left: 36%;
  border: solid 1px green;
}

.exp-fill {
  width: 75%;
  height: 100%;
  transition: all 0.2s;
  background-color: #5add8c;
}

.exp-text {
  position: absolute;
  font-size: 9px;
  top: 50%;
  transform: translateY(-50%);
  left: 33%;
}

.hero-level {
  position: absolute;
  color: white;
  background-color: #c93d3d;
  border: 1px solid black;
  font-size: 10px;
  width: 100%;
  height: 20px;
  text-align: center;
  top: 0px;
}

.hero-level-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-section {
  position: relative;
  border: 1px solid black;
  background: linear-gradient(
    135deg,
    rgba(218, 218, 218, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  box-shadow: inset 1px 1px 5px 1px rgb(230, 230, 230), 1px 2px 8px 2px black;
  min-width: 75%;
  left: 0.4rem;
}

main {
  height: 56rem;
  margin-top: 0px;
}

/* .sprite {
  position: absolute;
  top: 50%;
  left: 10%;
  } */

/* Testes */

.hidden {
  display: none;
}

/* MEDIA */
@media (min-width: 2100px) {
  .icons {
    right: 600px;
  }
  body {
    width: 75%;
    margin-left: 12%;
  }
  footer {
    width: 135%;
    right: 15%;
  }
}
@media (max-width: 1800px) {
  .icons {
    right: 550px;
  }
  .hero-stats {
    width: 300px;
  }
}

@media (max-width: 1599px) {
  .icons {
    right: 400px;
  }
  .hero-stats {
    width: 300px;
  }
}
@media (max-width: 1360px) {
  .icons {
    right: 100px;
  }
}

@media (max-width: 900px) {
  .icons {
    right: 0px;
  }
  .hero-stats {
    width: 200px;
  }
}

@media (max-width: 450px) {
  .icons {
    right: 0px;
    position: absolute;
    right: -60px;
    bottom: 85px;
  }
  .hero-stats {
    width: 200px;
    position: absolute;
    left: -70px;
    bottom: 85px;
  }
  .progress__player {
    position: absolute;
    bottom: 150px;
  }
}

.three {
  flex: 1;
}

/* Animation for fight */
.fade-out {
  animation: fadeout 0.5s ease-in-out forwards;
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.stat {
  color: rgb(248, 185, 66);
}

.attribute {
  color: rgb(50, 165, 241);
}

#STR,
#DEX,
#AGI,
#VIT,
#INT,
#MAG,
#HP,
#SP,
#ATK,
#DEF,
#ACC,
#SPD {
}

.attribute-box {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 10px;
  left: 24%;
  text-align: center;
}

.attribute-box-text {
  color: #70dd5a;
  font-size: 8px;
}

#attribute-points {
  color: #70dd5a;
}
